### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [86]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

## Player Count

In [87]:
# Using length of list "SN" for number of players
total_players = len(purchase_data["SN"].value_counts())

tally = pd.DataFrame({"Total Players": [total_players]})
tally

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [88]:
# Formulas for number of unique items, average price, number of purchases, and total revenue
tally_of_unique_items = len(purchase_data["Item ID"].unique())
average_price = (purchase_data["Price"].mean())
number_of_purchases = (purchase_data["Purchase ID"].count())
total_revenue = (purchase_data["Price"].sum())

# Creating a summary data frame
Purchase_Summary = pd.DataFrame({"Number of Unique Items": [tally_of_unique_items], 
                                 "Average Price": [average_price], 
                                 "Number of Purchases": [number_of_purchases], 
                                 "Total Revenue": [total_revenue]})

# Format of Data Frame
Purchase_Summary = Purchase_Summary.round(2)
Purchase_Summary["Average Price"] = Purchase_Summary["Average Price"].map("${:,.2f}".format)
Purchase_Summary["Total Revenue"] = Purchase_Summary["Total Revenue"].map("${:,.2f}".format)
Purchase_Summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [89]:
# Group Purchase Data by Gender
gender_statistics = purchase_data.groupby("Gender")

# Count the screen names by gender
total_gender = gender_statistics.nunique()["SN"]

# Formula for percentage of players
percentage = total_gender / total_players * 100
percentage

gender_demographics = pd.DataFrame({"Percentage of Players": percentage,
                                   "Total Count": total_gender})

# Format the data grame with index names removed from corner
gender_demographics.index.name = None

#Formatting the values
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
# Formulas for Calculation
purchase_count = gender_statistics["Purchase ID"].count()
average_purchase_price = gender_statistics["Price"].mean()
average_purchase_total = gender_statistics["Price"].sum()
avg_purchase_per_person = average_purchase_total / total_gender

# Creating a Data Frame
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchasing Price": average_purchase_price,
                                 "Total Purchase Value": average_purchase_total,
                                 "Average Purchase Total per Person by Age Group": avg_purchase_per_person})
purchase_analysis

,Purchase Count,Average Purchasing Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [91]:
# Creating Bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]
             
# Categorizing each player by using .cut
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=bin_names)
purchase_data

# Creating Formulas
total_age_demo = purchase_data["Age Group"].value_counts()
total_age_perc = (total_age_demo / total_players) * 100

# Creating Summary Data Frame
age_demographics = pd.DataFrame({"Total Count": total_age_demo,
                                "Percent of Players": total_age_perc})
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count  Percent of Players
<10             23            3.993056
10-14           28            4.861111
15-19          136           23.611111
20-24          365           63.368056
25-29          101           17.534722
30-34           73           12.673611
35-39           41            7.118056
>40             13            2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
grouped_ages = purchase_data.groupby("Age Group")

# Formulas for calculation
purchase_count = grouped_ages["Purchase ID"].count()
avg_purch_price = grouped_ages["Price"].mean()
total_purchase = grouped_ages["Price"].sum()
avg_purch_total_per_person = (total_purchase / total_age_demo)

# Create a Data Frame to display values
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purch_price,
                                 "Total Purchase": total_purchase,
                                 "Average Purchase Total per Person": avg_purch_total_per_person})

# Formatting
purchase_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                               "Total Purchase": "${:,.2f}",
                               "Average Purchase Total per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [93]:
# Group purchase data by Screen Names
spending_stats = purchase_data.groupby("SN")

# Formulas for Calculations
purchase_counter = spending_stats["Purchase ID"].count()
avg_price_per_shopper = spending_stats["Price"].mean()
total_purch_per_shopper = spending_stats["Price"].sum()

# Creating Data Frame
top_spenders = pd.DataFrame({"Purchase Count": purchase_counter,
                            "Average Purchase Price": avg_price_per_shopper,
                            "Total Purchase Value": total_purch_per_shopper})

# Sort through and pull top 5 users, & format
sort_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
sort_spenders.style.format({"Average Purchase Price": "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:
# Build new data frame, pulling info from Purchase Data
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
item_group = popular_items.groupby(["Item ID", "Item Name"])

# Formulas for Calculation
purchase_count = item_group["Price"].count()
price_per_item = item_group["Price"].sum()
single_item = (price_per_item/purchase_count)

# Data Frame
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Item Price": single_item,
                                  "Total Purchase Value": price_per_item})
# Formatting
format_data = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
format_data.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [95]:
format_data = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
format_data.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})